apiVersion: v1
kind: Service
metadata:
  name: app-java-service
spec:
  type: LoadBalancer
  selector:
    app: app-java
  ports:
    - protocol: TCP
      port: 80        # Porta externa
      targetPort: 8080  # Porta do container/pod
